{% extends "auth/email/base_email.html" %}

{% block title %}Permintaan Pengaturan Ulang Kata Sandi{% endblock %}

{% block content %}
    <p style="margin: 0 0 25px 0;">Yth. <strong>{{ user.username }}</strong>,</p>
    <p style="margin: 0 0 25px 0;">Kami telah menerima permintaan untuk mengatur ulang kata sandi untuk akun Anda di Lelana.id. Jika Anda yang meminta ini, silakan lanjutkan dengan menekan tombol di bawah.</p>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding: 10px 0 25px 0;">
                <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}" target="_blank" style="background-color: #059669; color: #ffffff; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;">Atur Ulang Kata Sandi</a>
            </td>
        </tr>
    </table>

    <p style="font-size: 14px; color: #666666; margin: 0 0 15px 0;">Jika Anda mengalami kesulitan dengan tombol di atas, silakan salin dan tempel URL berikut ke peramban web Anda:</p>
    <p style="font-size: 12px; color: #333333; background-color: #f4f4f4; padding: 10px; border-radius: 4px; word-break: break-all;">{{ url_for('auth.password_reset', token=token, _external=True) }}</p>

    <p style="margin: 25px 0 0 0; font-size: 14px; color: #666666;">
        Demi keamanan, permintaan ini hanya berlaku selama 1 jam. Jika Anda tidak merasa meminta pengaturan ulang kata sandi, mohon abaikan email ini dan akun Anda akan tetap aman.
    </p>
    <br>
    <p style="margin: 25px 0 0 0;">Hormat kami,</p>
    <p style="margin: 5px 0 0 0;">Tim Lelana.id</p>
{% endblock %}